body, html {
    /* Why CSS, why */
    height: 100vh;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
}

.title-header {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 3em;
    
}

.title-show {
    animation: title-slide 1s ease-in-out forwards;
}

.title-hide {
    animation: title-slide-back 1s ease-in-out forwards;
}

.button-main {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    bottom: 0%;
    margin-bottom: 10em;
}

.button-main > button {
    border: none;
    background-color: #add8e6;
    padding: 1em;
    border-radius: 2em;
    font-family: "Comic Sans MS";
    font-weight: bolder;
    font-size: 1em;
    transition: 0.3s;
}

.button-main > button:hover {
    background-color: #7b9aa4;
    font-size: 1.2em;
    transition: 0.3s;
}

@keyframes title-slide {
    0% {
        top: -50%
    }

    100% {
        top: 0px
    }
}

@keyframes title-slide-back {
    100% {
        top: -50%
    }

    0% {
        top: 0px
    }
}

h1 {
    font-family: "Comic Sans MS";
    font-weight: bolder;
    font-size: 2.5em;
    
    text-align: center;

    animation: rainbow 2.5s linear;
	animation-iteration-count: infinite;
}

h2 {
    margin-top: 1em;
    font-family: "Comic Sans MS";
    font-weight: bolder;
    font-size: 1em;
    color: white;
    text-align: center;
}

@keyframes rainbow{
    100%,0%{
        color: rgb(255,0,0);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
}